<div class="md-welcome">
   <div class="md-welcome-msg">
      <div class="container container-md">
         <h1 class="animated fadeInDown anim-delay-5">Poimoe</h1>
         <h2 class="animated fadeInLeft anim-delay-10">独一无二的多人协同在线绘画工具</h2>
      </div>
   </div>
</div>
<div class="container container-md">
   <p class="lead m0">欢迎使用Poimoe管理后台</p>
   <div class="row md-welcome-row">
      <div class="col-md-4">
         <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-15">
            <div class="card-body">
               <p class="lead text-bold">数据统计</p>总用户、今日新增、本月新增、被删用户、被锁用户</div>
         </div>
      </div>
      <div class="col-md-4">
         <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-20">
            <div class="card-body">
               <p class="lead text-bold">信息管理</p>用户管理、主题管理、标签管理、用户粉丝/关注管理、活跃用户/主题/标签管理</div>
         </div>
      </div>
      <div class="col-md-4">
         <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-25">
            <div class="card-body">
               <p class="lead text-bold">权限管理</p>角色管理、权限分配</div>
         </div>
      </div>
   </div>
</div>