<div class="abs-center wd-xl">
   <!-- START panel-->
   <div class="text-center mb-xl">
      <div class="text-lg mb-lg">无权限操作</div>
      <p class="lead m0">对不起，您无权进行此项操作</p>
      <p>如有疑问，请联系管理员或在我们的官网反馈</p>
   </div>
   <ul class="list-inline text-center text-sm mb-xl">
      <li><a href="http://poimoe.com/?page_id=21" class="text-muted">去反馈</a>
      </li>
      <li class="text-muted">|</li>
      <li><a href="" ui-sref="auth.login" class="text-muted">登录</a>
      </li>
   </ul>
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>