h3 权限管理
.container-md(style='max-width:100%' ng-controller="AuthorityController as auth")
  .card(style='box-shadow:none')
    md-content.md-padding(style='background: rgb(245, 247, 250) none repeat scroll 0% 0%;padding:0px')
      md-tabs(md-dynamic-height='', md-border-bottom='')
        md-tab(label='权限管理')
          md-content.md-padding(style='background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;')
          // ngRepeat + ngResource
          .panel.panel-default
            .panel-heading(style='border:1px solid rgb(238, 238, 238)') 权限分配 
            .panel-body(style='padding:0px')
              .table-responsive
                table#table-ext-1.table.table-bordered.table-hover
                  thead
                    tr
                      th 权限名称
                      th 权限路由
                      th 创建时间
                      th 操作
                      th(check-all)
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='auth.allAuthList.isSelectAll', ng-change="auth.toggleSelectAll(auth.authList, auth.allAuthList)")
                  tbody
                    tr(ng-repeat='auth in authList')
                      td {{auth.name}}
                      td {{auth.router}}
                      td {{auth.createdAt}}
                      td
                        md-select(ng-model='auth.authAction.name[auth._id]', placeholder='操作')
                          md-option(ng-repeat='name in auth.authAction.names', value='{{name.val}}' ng-click="name.onClicked($event, auth, key)") {{name.val}}                          
                      td
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='auth.allAuthList.isElementSelected[auth._id]', ng-change="groups.selectThis(auth._id, auth.allAuthList)")

              .panel-footer
                .row
                  .col-lg-10
                  .col-lg-2
                    .input-group.pull-right
                      md-select(ng-model='auth.footerAction.name', placeholder='操作')
                        md-option(ng-repeat='name in auth.footerAction.names', value='{{name.val}}', ng-click="name.onClicked($event)") {{name.val}}

        // Dialog inline template for demo
        script(type='text/ng-template', id='auth_detail.tmpl.html').
          <md-dialog aria-label="{{title}}">
          <form>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>编辑权限 {{auth.username}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="answer('not applicable')">
                  <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content>
              <div class="card-body">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="mda-form-group">
                        <input ng-model="auth.name" tabindex="0" aria-required="true" required='' aria-invalid="false" class="mda-form-control" />
                        <label>权限名称</label>
                     </div>
                  </div>
                  <div class="col-sm-12">
                     <div class="mda-form-group">
                        <input ng-model="auth.route" tabindex="0" aria-invalid="false" required='' class="mda-form-control" />
                        <label>权限路由</label>
                     </div>
                  </div>
               </div>
               </div>
            </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
              <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                More on Wikipedia
              </md-button>
              <span flex></span>
              <md-button ng-click="answer('not useful')" class="md-primary">
                关闭
              </md-button>
              <md-button ng-click="editThisAuth()" class="md-primary">
                保存
              </md-button>
            </div>
          </form>
          </md-dialog>

        md-tab(label='新增权限')
          md-content.md-padding(style='background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;')
          // ngRepeat + ngResource
          .panel.panel-default
            .panel-heading(style='border:1px solid rgb(238, 238, 238)') 新增权限 
            .panel-body
              form.form-validate
                .mda-form-group.float-label.mb
                  input.mda-form-control(ng-model='auth.newAuth.name', required='', tabindex='0', aria-required='true', aria-invalid='true')
                  label 权限名称
                  span.mda-form-msg 必填项
                
                .mda-form-group
                  input.mda-form-control(ng-model='auth.newAuth.route', tabindex='0', required='', aria-required='', aria-invalid='true')
                  label 权限路由
                  span.mda-form-msg 必填项

                .mda-form-group
                  md-button.md-raised.md-primary(md-no-ink='', ng-click='auth.submitThisAuth()') 提交
