h3 房间管理
.container-md(style='max-width:100%' ng-controller="RoomsController as rooms")
  .card(style='box-shadow:none')
    md-content.md-padding(style='background: rgb(245, 247, 250) none repeat scroll 0% 0%;padding:0px')
      md-tabs(md-dynamic-height='', md-border-bottom='')
        md-tab(label='基本信息')
          md-content.md-padding(style='background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;')
          // START panel
          .panel.panel-default
            .panel-heading 房间管理 | 
              small 房间基本信息管理
            .panel-body
              div
                table.row-border.hover(datatable='ng')
                  thead
                    tr
                      th 房间名
                      th 描述
                      th 引用次数
                      th 创建时间
                      th 操作
                      th(check-all)
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='rooms.isSelectAll', ng-change="rooms.toggleSelectAll()")
                  tbody
                    tr(ng-repeat="(key, tag) in rooms.roomsList")
                      td {{tag.name}}
                      td {{tag.description}}
                      td {{tag.citeCount}}
                      td {{tag.createdAt}}
                      td
                        md-select(ng-model='rooms.roomsingleSelectCtrl.name[tag._id]', placeholder='操作')
                          md-option(ng-repeat='name in rooms.selectCtrl.names', value='{{name.val}}', ng-click="name.onClicked($event, tag, key)") {{name.val}}                          
                      td
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='rooms.roomsSelected[tag._id]', ng-change="rooms.selectThisTag(tag._id)")
            .panel-footer
              .row
                .col-lg-10
                .col-lg-2
                  .input-group.pull-right
                    md-select(ng-model='rooms.selectCtrl.name', placeholder='操作')
                      md-option(ng-repeat='name in rooms.selectCtrl.names', value='{{name.val}}', ng-click="name.onClicked($event)", ng-hide='name.val == "编辑"') {{name.val}}

        // Dialog inline template for demo
        script(type='text/ng-template', id='rooms_detail.tmpl.html').
          <md-dialog aria-label="{{title}}">
          <form>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>{{tag.tagname}} 的资料</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="answer('not applicable')">
                  <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content>
              <div class="card-body">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="mda-form-group">
                        <input ng-model="tag.name" required="" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                        <label>房间名</label>
                     </div>
                  </div>
                  <div class="col-sm-12">
                     <div class="mda-form-group">
                        <input ng-model="tag.description" tabindex="0" aria-invalid="false" class="mda-form-control" />
                        <label>房间描述</label>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-4">
                     <div class="mda-form-group">
                        <input ng-model="tag.citeCount" disabled tabindex="0" aria-invalid="false" class="mda-form-control" />
                        <label>引用次数</label>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="mda-form-group">
                        <input ng-model="tag.createdAt" disabled tabindex="0" aria-invalid="false" class="mda-form-control" />
                        <label>创建时间</label>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="mda-form-group">
                        <input ng-model="tag.updatedAt" disabled tabindex="0" aria-invalid="false" class="mda-form-control" />
                        <label>更新时间</label>
                     </div>
                  </div>
               </div>
            </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
              <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                More on Wikipedia
              </md-button>
              <span flex></span>
              <md-button ng-click="cancel()" class="md-primary">
                关闭
              </md-button>
              <md-button ng-click="confirmToModifyThisTag()" class="md-primary">
                保存
              </md-button>
            </div>
          </form>
          </md-dialog>

        md-tab(label='被删房间')
          md-content.md-padding(style='background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;')
          // START panel
          .panel.panel-default
            .panel-heading 房间管理 | 
              small 被删除房间信息管理
            .panel-body
              div
                table.row-border.hover(datatable='ng')
                  thead
                    tr
                      th 房间名
                      th 描述
                      th 引用次数
                      th 创建时间
                      th 操作
                      th(check-all)
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='rooms.isDeletedSelectAll', ng-change="rooms.toggleSelectAllDeleted()")
                  tbody
                    tr(ng-repeat="(key, tag) in rooms.roomsDeletedList")
                      td {{tag.name}}
                      td {{tag.description}}
                      td {{tag.citeCount}}
                      td {{tag.createdAt}}
                      td
                        md-select(ng-model='rooms.selectDeletedCtrl.name[tag._id]', placeholder='操作')
                          md-option(ng-repeat='name in rooms.selectDeletedCtrl.names', value='{{name.val}}', ng-click="name.onClicked($event, tag, key)") {{name.val}}                          
                      td
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='rooms.roomsDeletedSelected[tag._id]', ng-change="rooms.selectThisDeletedTag(tag._id)")
            .panel-footer
              .row
                .col-lg-10
                .col-lg-2
                  .input-group.pull-right
                    md-select(ng-model='rooms.selectDeletedCtrl.name', placeholder='操作')
                      md-option(ng-repeat='name in rooms.selectDeletedCtrl.names', value='{{name.val}}', ng-click="name.onClicked($event)") {{name.val}}
