h3 用户管理
.container-md(style='max-width:100%' ng-controller="UsersController as users")
  .card(style='box-shadow:none')
    md-content.md-padding(style='background: rgb(245, 247, 250) none repeat scroll 0% 0%;padding:0px')
      md-tabs(md-dynamic-height='', md-border-bottom='')
        md-tab(label='基本信息')
          md-content.md-padding(style='background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;')
          // ngRepeat + ngResource
          .panel.panel-default
            .panel-heading 用户管理 | 
              small 用户基本信息管理
            .panel-body
              div
                table.row-border.hover(datatable='ng')
                  thead
                    tr
                      th 头像
                      th 用户名
                      th 邮箱
                      th 性别
                      th 用户组
                      th 是否锁定
                      th 注册时间
                      th 操作
                      th(check-all)
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='users.normalUsers.isSelectAll', ng-change="users.toggleSelectAll(users.usersList, users.normalUsers)")
                  tbody
                    tr(ng-repeat="(key, user) in users.usersList")
                      td
                        .media
                          img.img-responsive.img-circle(src="{{user.photo}}", alt="Image", style="width:36px;height:36px")
                      td {{user.username}}
                      td {{user.email}}
                      td {{user.sex}}
                      td {{user.group[0].name}}
                      td {{user.isBlocked}}
                      td {{user.createdAt}}
                      td
                        md-select(ng-model='users.userSingleSelectCtrl.name[user._id]', placeholder='操作')
                          md-optgroup(label='详情')
                            md-option(ng-repeat='name in users.userSingleSelectCtrl.names', value='{{name.val}}', ng-click="name.onClicked($event, user)") {{name.val}}
                          md-optgroup(label='安全')
                            md-option(ng-repeat='name in users.selectCtrl.names', value='{{name.val}}', ng-click="name.onClicked($event, user, key)") {{name.val}}                          
                      td
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='users.normalUsers.isElementSelected[user._id]', ng-change="users.selectThis(user._id, users.normalUsers)")
            .panel-footer
              .row
                .col-lg-10
                .col-lg-2
                  .input-group.pull-right
                    md-select(ng-model='users.selectCtrl.name', placeholder='操作')
                      md-option(ng-repeat='name in users.selectCtrl.names', value='{{name.val}}', ng-click="name.onClicked($event)") {{name.val}}

        // Dialog inline template for demo
        script(type='text/ng-template', id='user_detail.tmpl.html').
          <md-dialog aria-label="{{title}}">
          <form>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>{{user.username}} 的资料</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="answer('not applicable')">
                  <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content>
              <div class="card-body">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="mda-form-group" style="text-align:center">
                        <img src="{{user.photo}}" style="width:100px;height:100px;border-radius:50%;">
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="mda-form-group">
                        <input ng-model="user.username" required="" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                        <label>用户名</label>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="mda-form-group">
                        <input ng-model="user.email" required="" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                        <label>邮箱</label>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="mda-form-group">
                        <input ng-model="user.sex" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                        <label>性别</label>
                     </div>
                  </div>
                  <div class="col-sm-12">
                     <div class="mda-form-group">
                        <input ng-model="user.intro" tabindex="0" aria-invalid="false" class="mda-form-control" />
                        <label>个人介绍</label>
                     </div>
                  </div>
                  <div class="col-sm-12">
                     <div class="mda-form-group">
                        <input ng-model="user.region" tabindex="0" aria-invalid="false" class="mda-form-control" />
                        <label>地址</label>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-4">
                     <div class="mda-form-group">
                        <input ng-model="user.createdAt" tabindex="0" aria-invalid="false" class="mda-form-control" />
                        <label>注册时间</label>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="mda-form-group">
                        <input ng-model="user.isBlocked" tabindex="0" aria-invalid="false" class="mda-form-control" />
                        <label>锁定</label>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="mda-form-group">
                        <input ng-model="user.isDeleted" tabindex="0" aria-invalid="false" class="mda-form-control" />
                        <label>删除</label>
                     </div>
                  </div>
               </div>
            </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
              <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                More on Wikipedia
              </md-button>
              <span flex></span>
              <md-button ng-click="answer('not useful')" class="md-primary">
                关闭
              </md-button>
              <md-button ng-click="editThisUser()" class="md-primary">
                保存
              </md-button>
            </div>
          </form>
          </md-dialog>

        // Dialog inline template for demo
        script(type='text/ng-template', id='user_relations.tmpl.html').
          <md-dialog aria-label="{{title}}">
          <form>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>{{user.username}} 的关注/粉丝列表</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="answer('not applicable')">
                  <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content>
              <md-tabs md-dynamic-height="" md-border-bottom="">
                 <md-tab label="关注列表">
                    <md-content class="md-padding">
                      <table datatable="ng" class="row-border hover">
                         <thead>
                            <tr>
                               <th>头像</th>
                               <th>用户名</th>
                               <th>邮箱</th>
                               <th>性别</th>
                               <th>注册时间</th>
                               <th>操作</th>
                               <th check-all="check-all">
                                  <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="users.isSelectAll" ng-change="users.toggleSelectAll()" class="md-primary"></md-checkbox>
                               </th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr ng-repeat="user in followList">
                               <td>
                                  <div class="media">
                                     <img src="{{user.photo}}" alt="Image" style="width:36px;height:36px" class="img-responsive img-circle" />
                                  </div>
                               </td>
                               <td>{{user.username}}</td>
                               <td>{{user.email}}</td>
                               <td>{{user.sex}}</td>
                               <td>{{user.createdAt}}</td>
                               <td>
                                  <md-select ng-model="users.userSingleSelectCtrl.name[user._id]" placeholder="操作">
                                     <md-optgroup label="详情">
                                        <md-option ng-repeat="name in users.userSingleSelectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event, user)">{{name.val}}</md-option>
                                     </md-optgroup>
                                     <md-optgroup label="安全">
                                        <md-option ng-repeat="name in users.selectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event, user)">{{name.val}}</md-option>
                                     </md-optgroup>
                                  </md-select>
                               </td>
                               <td>
                                  <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="users.userIsSelected[user._id]" ng-change="users.selectThisUser(user._id)" class="md-primary"></md-checkbox>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                    </md-content>
                 </md-tab>
                 <md-tab label="粉丝列表">
                    <md-content class="md-padding">
                      <table datatable="ng" class="row-border hover">
                         <thead>
                            <tr>
                               <th>头像</th>
                               <th>用户名</th>
                               <th>邮箱</th>
                               <th>性别</th>
                               <th>注册时间</th>
                               <th>操作</th>
                               <th check-all="check-all">
                                  <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="users.isSelectAll" ng-change="users.toggleSelectAll()" class="md-primary"></md-checkbox>
                               </th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr ng-repeat="user in followerList">
                               <td>
                                  <div class="media">
                                     <img src="{{user.photo}}" alt="Image" style="width:36px;height:36px" class="img-responsive img-circle" />
                                  </div>
                               </td>
                               <td>{{user.username}}</td>
                               <td>{{user.email}}</td>
                               <td>{{user.sex}}</td>
                               <td>{{user.createdAt}}</td>
                               <td>
                                  <md-select ng-model="users.userSingleSelectCtrl.name[user._id]" placeholder="操作">
                                     <md-optgroup label="详情">
                                        <md-option ng-repeat="name in users.userSingleSelectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event, user)">{{name.val}}</md-option>
                                     </md-optgroup>
                                     <md-optgroup label="安全">
                                        <md-option ng-repeat="name in users.selectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event, user)">{{name.val}}</md-option>
                                     </md-optgroup>
                                  </md-select>
                               </td>
                               <td>
                                  <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="users.userIsSelected[user._id]" ng-change="users.selectThisUser(user._id)" class="md-primary"></md-checkbox>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                    </md-content>
                 </md-tab>
              </md-tabs>
            </md-dialog-content>
            <div class="md-actions" layout="row">
              <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                More on Wikipedia
              </md-button>
              <span flex></span>
              <md-button ng-click="answer('not useful')" class="md-primary">
                关闭
              </md-button>
              <md-button ng-click="answer('useful')" class="md-primary">
                确定
              </md-button>
            </div>
          </form>
          </md-dialog>

        // Dialog inline template for demo
        script(type='text/ng-template', id='user_themes.tmpl.html').
          <md-dialog aria-label="{{title}}">
          <form>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>{{user.username}} 的投稿</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="answer('not applicable')">
                  <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content>
              <div class="card-body">
                <table datatable="ng" class="row-border hover">
                   <thead>
                      <tr>
                         <th>图像</th>
                         <th>内容</th>
                         <th>标签</th>
                         <th>发布时间</th>
                         <th>操作</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr ng-repeat="theme in themesList">
                         <td>
                            <div class="media">
                               <img src="{{theme.image}}" alt="Image" style="width:100px;height:100px;border-radius:0" class="img-responsive img-circle" />
                            </div>
                         </td>
                         <td>{{theme.content}}</td>
                         <td><span ng-repeat="tag in theme.tag_list">{{tag.name}}</span></td>
                         <td>{{theme.createdAt}}</td>
                         <td>
                            <md-select ng-model="users.userSingleSelectCtrl.name[user._id]" placeholder="操作">
                              <md-option value="查看" ng-click="viewThisTheme(theme._id)">查看</md-option>
                              <md-option value="删除" ng-click="deleteThisTheme(theme._id, $index)">删除</md-option>                              
                            </md-select>
                         </td>
                      </tr>
                   </tbody>
                </table>
              </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
              <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                More on Wikipedia
              </md-button>
              <span flex></span>
              <md-button ng-click="answer('not useful')" class="md-primary">
                关闭
              </md-button>
              <md-button ng-click="answer('useful')" class="md-primary">
                确定
              </md-button>
            </div>
          </form>
          </md-dialog>

        // Dialog inline template for demo
        script(type='text/ng-template', id='user_groups.tmpl.html').
          <md-dialog aria-label="{{title}}">
          <form>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>点击确定选择 {{user.username}} 的用户组 - 当前用户组：{{user.group[0].name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="answer('not applicable')">
                  <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content>
              <div class="card-body">
                <table datatable="ng" class="row-border hover">
                   <thead>
                      <tr>
                         <th>用户组名称</th>
                         <th>用户组代码</th>
                         <th>用户组描述</th>
                         <th>创建时间</th>
                         <th>操作</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr ng-repeat="group in groupsList">
                         <td>{{group.name}}</td>
                         <td>{{group.code}}</td>
                         <td>{{group.description}}</td>
                         <td>{{group.createdAt}}</td>
                         <td>
                            <md-button value="确定" ng-click="applyThisUserGroup(group._id)" class="md-primary">
                            确定选择
                            </md-button>
                         </td>
                      </tr>
                   </tbody>
                </table>
              </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
              <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                More on Wikipedia
              </md-button>
              <span flex></span>
              <md-button ng-click="answer('not useful')" class="md-primary">
                关闭
              </md-button>
              <md-button ng-click="answer('useful')" class="md-primary">
                确定
              </md-button>
            </div>
          </form>
          </md-dialog>

        md-tab(label='被删用户')
          md-content.md-padding(style='background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;')
          // START panel
          // ngRepeat + ngResource
          .panel.panel-default
            .panel-heading 用户管理 | 
              small 被删除用户信息管理
            .panel-body
              div
                table.row-border.hover(datatable='ng')
                  thead
                    tr
                      th 头像
                      th 用户名
                      th 邮箱
                      th 性别
                      th 注册时间
                      th 操作
                      th(check-all)
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='users.removedUser.isSelectAll', ng-change="users.toggleSelectAll(users.usersDeletedList, users.removedUser)")
                  tbody
                    tr(ng-repeat="(key, user) in users.usersDeletedList")
                      td
                        .media
                          img.img-responsive.img-circle(src="{{user.photo}}", alt="Image", style="width:36px;height:36px")
                      td {{user.username}}
                      td {{user.email}}
                      td {{user.sex}}
                      td {{user.createdAt}}
                      td
                        md-select(ng-model='users.userDeletedSelectCtrl.name[user._id]', placeholder='操作')
                          md-option(ng-repeat='name in users.userDeletedSelectCtrl.names', value='{{name.val}}', ng-click="name.onClicked($event, user, key)") {{name.val}}                          
                      td
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='users.removedUser.isElementSelected[user._id]', ng-change="users.selectThis(user._id, users.removedUser)")
            .panel-footer
              .row
                .col-lg-10
                .col-lg-2
                  .input-group.pull-right
                    md-select(ng-model='users.userDeletedSelectCtrl.name', placeholder='操作')
                      md-option(ng-repeat='name in users.userDeletedSelectCtrl.names', value='{{name.val}}', ng-click="name.onClicked($event)") {{name.val}}

        md-tab(label='被锁用户')
          md-content.md-padding(style='background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;')
          // START panel
          .panel.panel-default
            .panel-heading 用户管理 | 
              small 被锁定用户信息管理
            .panel-body
              div
                table.row-border.hover(datatable='ng')
                  thead
                    tr
                      th 头像
                      th 用户名
                      th 邮箱
                      th 性别
                      th 注册时间
                      th 操作
                      th(check-all)
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='users.blockedUser.isSelectAll', ng-change="users.toggleSelectAll(users.usersBlockedList, users.blockedUser)")
                  tbody
                    tr(ng-repeat="(key, user) in users.usersBlockedList")
                      td
                        .media
                          img.img-responsive.img-circle(src="{{user.photo}}", alt="Image", style="width:36px;height:36px")
                      td {{user.username}}
                      td {{user.email}}
                      td {{user.sex}}
                      td {{user.createdAt}}
                      td
                        md-select(ng-model='users.userBlockedSelectCtrl.name[user._id]', placeholder='操作')
                          md-option(ng-repeat='name in users.userBlockedSelectCtrl.names', value='{{name.val}}', ng-click="name.onClicked($event, user, key)") {{name.val}}                          
                      td
                        md-checkbox.md-primary(md-no-ink='', aria-label='Checkbox No Ink', ng-model='users.blockedUser.isElementSelected[user._id]', ng-change="users.selectThis(user._id, users.blockedUser)")
            .panel-footer
              .row
                .col-lg-10
                .col-lg-2
                  .input-group.pull-right
                    md-select(ng-model='users.userBlockedSelectCtrl.name', placeholder='操作')
                      md-option(ng-repeat='name in users.userBlockedSelectCtrl.names', value='{{name.val}}', ng-click="name.onClicked($event)") {{name.val}}
                      