<h3>用户管理</h3>
<div style="max-width:100%" ng-controller="UsersController as users" class="container-md">
   <div style="box-shadow:none" class="card">
      <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%;padding:0px" class="md-padding">
         <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="基本信息">
               <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;" class="md-padding"></md-content>
               <!-- ngRepeat + ngResource-->
               <div class="panel panel-default">
                  <div class="panel-heading">用户管理 |
                     <small>用户基本信息管理</small>
                  </div>
                  <div class="panel-body">
                     <div>
                        <table datatable="ng" class="row-border hover">
                           <thead>
                              <tr>
                                 <th>头像</th>
                                 <th>用户名</th>
                                 <th>邮箱</th>
                                 <th>性别</th>
                                 <th>注册时间</th>
                                 <th>操作</th>
                                 <th check-all="check-all">
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="users.isSelectAll" ng-change="users.toggleSelectAll()" class="md-primary"></md-checkbox>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="user in users.usersList">
                                 <td>
                                    <div class="media">
                                       <img src="{{user.photo}}" alt="Image" style="width:36px;height:36px" class="img-responsive img-circle" />
                                    </div>
                                 </td>
                                 <td>{{user.username}}</td>
                                 <td>{{user.email}}</td>
                                 <td>{{user.sex}}</td>
                                 <td>{{user.createdAt}}</td>
                                 <td>
                                    <md-select ng-model="users.userSingleSelectCtrl.name" placeholder="操作">
                                       <md-optgroup label="详情">
                                          <md-option ng-repeat="name in users.userSingleSelectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event, user)">{{name.val}}</md-option>
                                       </md-optgroup>
                                       <md-optgroup label="安全">
                                          <md-option ng-repeat="name in users.selectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event, user)">{{name.val}}</md-option>
                                       </md-optgroup>
                                    </md-select>
                                 </td>
                                 <td>
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="users.userIsSelected[user._id]" ng-change="users.selectThisUser(user._id)" class="md-primary"></md-checkbox>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="panel-footer">
                     <div class="row">
                        <div class="col-lg-10"></div>
                        <div class="col-lg-2">
                           <div class="input-group pull-right">
                              <md-select ng-model="users.selectCtrl.name" placeholder="操作">
                                 <md-option ng-repeat="name in users.selectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event)">{{name.val}}</md-option>
                              </md-select>
                              <span class="input-group-btn">
                                 <button class="md-primary md-hue-1 md-button md-default-theme">应用</button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </md-tab>
            <!-- Dialog inline template for demo-->
            <script type="text/ng-template" id="user_detail.tmpl.html">
               <md-dialog aria-label="{{title}}">
               <form>
                 <md-toolbar>
                   <div class="md-toolbar-tools">
                     <h2>{{user.username}} 的资料</h2>
                     <span flex></span>
                     <md-button class="md-icon-button" ng-click="answer('not applicable')">
                       <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                     </md-button>
                   </div>
                 </md-toolbar>
                 <md-dialog-content>
                   <div class="card-body">
                    <div class="row">
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.username" required="" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                             <label>用户名</label>
                          </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.email" required="" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                             <label>邮箱</label>
                          </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.sex" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                             <label>性别</label>
                          </div>
                       </div>
                       <div class="col-sm-12">
                          <div class="mda-form-group">
                             <input ng-model="user.intro" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>个人介绍</label>
                          </div>
                       </div>
                       <div class="col-sm-12">
                          <div class="mda-form-group">
                             <input ng-model="user.region" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>地址</label>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.createdAt" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>注册时间</label>
                          </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.isBlocked" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>锁定</label>
                          </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.isDeleted" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>删除</label>
                          </div>
                       </div>
                    </div>
                 </div>
                 </md-dialog-content>
                 <div class="md-actions" layout="row">
                   <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                     More on Wikipedia
                   </md-button>
                   <span flex></span>
                   <md-button ng-click="answer('not useful')" class="md-primary">
                     关闭
                   </md-button>
                   <md-button ng-click="answer('useful')" class="md-primary">
                     保存
                   </md-button>
                 </div>
               </form>
               </md-dialog>
            </script>
            <!-- Dialog inline template for demo-->
            <script type="text/ng-template" id="user_relations.tmpl.html">
               <md-dialog aria-label="{{title}}">
               <form>
                 <md-toolbar>
                   <div class="md-toolbar-tools">
                     <h2>{{user.username}} 的关系</h2>
                     <span flex></span>
                     <md-button class="md-icon-button" ng-click="answer('not applicable')">
                       <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                     </md-button>
                   </div>
                 </md-toolbar>
                 <md-dialog-content>
                   <div class="card-body">
                    <div class="row">
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.username" required="" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                             <label>用户名</label>
                          </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.email" required="" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                             <label>邮箱</label>
                          </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.sex" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                             <label>性别</label>
                          </div>
                       </div>
                       <div class="col-sm-12">
                          <div class="mda-form-group">
                             <input ng-model="user.intro" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>个人介绍</label>
                          </div>
                       </div>
                       <div class="col-sm-12">
                          <div class="mda-form-group">
                             <input ng-model="user.region" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>地址</label>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.createdAt" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>注册时间</label>
                          </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.isBlocked" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>锁定</label>
                          </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.isDeleted" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>删除</label>
                          </div>
                       </div>
                    </div>
                 </div>
                 </md-dialog-content>
                 <div class="md-actions" layout="row">
                   <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                     More on Wikipedia
                   </md-button>
                   <span flex></span>
                   <md-button ng-click="answer('not useful')" class="md-primary">
                     关闭
                   </md-button>
                   <md-button ng-click="answer('useful')" class="md-primary">
                     保存
                   </md-button>
                 </div>
               </form>
               </md-dialog>
            </script>
            <!-- Dialog inline template for demo-->
            <script type="text/ng-template" id="user_themes.tmpl.html">
               <md-dialog aria-label="{{title}}">
               <form>
                 <md-toolbar>
                   <div class="md-toolbar-tools">
                     <h2>{{user.username}} 的投稿</h2>
                     <span flex></span>
                     <md-button class="md-icon-button" ng-click="answer('not applicable')">
                       <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                     </md-button>
                   </div>
                 </md-toolbar>
                 <md-dialog-content>
                   <div class="card-body">
               
                   </div>
                 </md-dialog-content>
                 <div class="md-actions" layout="row">
                   <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                     More on Wikipedia
                   </md-button>
                   <span flex></span>
                   <md-button ng-click="answer('not useful')" class="md-primary">
                     关闭
                   </md-button>
                   <md-button ng-click="answer('useful')" class="md-primary">
                     保存
                   </md-button>
                 </div>
               </form>
               </md-dialog>
            </script>
            <md-tab label="被删用户">
               <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;" class="md-padding"></md-content>
               <!-- START panel-->
               <!-- ngRepeat + ngResource-->
               <div class="panel panel-default">
                  <div class="panel-heading">用户管理 |
                     <small>被删除用户信息管理</small>
                  </div>
                  <div class="panel-body">
                     <div>
                        <table datatable="ng" class="row-border hover">
                           <thead>
                              <tr>
                                 <th>头像</th>
                                 <th>用户名</th>
                                 <th>邮箱</th>
                                 <th>性别</th>
                                 <th>注册时间</th>
                                 <th>操作</th>
                                 <th check-all="check-all">
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="user in users.usersDeletedList">
                                 <td>
                                    <div class="media">
                                       <img src="{{user.photo}}" alt="Image" style="width:36px;height:36px" class="img-responsive img-circle" />
                                    </div>
                                 </td>
                                 <td>{{user.username}}</td>
                                 <td>{{user.email}}</td>
                                 <td>{{user.sex}}</td>
                                 <td>{{user.createdAt}}</td>
                                 <td>
                                    <md-select ng-model="users.userSingleSelectCtrl.name" placeholder="操作">
                                       <md-optgroup label="详情">
                                          <md-option ng-repeat="name in users.userSingleSelectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event, user)">{{name.val}}</md-option>
                                       </md-optgroup>
                                       <md-optgroup label="安全">
                                          <md-option ng-repeat="name in users.selectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event, user)">{{name.val}}</md-option>
                                       </md-optgroup>
                                    </md-select>
                                 </td>
                                 <td>
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="panel-footer">
                     <div class="row">
                        <div class="col-lg-10"></div>
                        <div class="col-lg-2">
                           <div class="input-group pull-right">
                              <md-select ng-model="users.selectCtrl.name" placeholder="操作">
                                 <md-option ng-repeat="name in users.selectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event)">{{name.val}}</md-option>
                              </md-select>
                              <span class="input-group-btn">
                                 <button class="md-primary md-hue-1 md-button md-default-theme">应用</button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </md-tab>
            <md-tab label="被锁用户">
               <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;" class="md-padding"></md-content>
               <!-- START panel-->
               <div class="panel panel-default">
                  <div class="panel-heading">用户管理 |
                     <small>被锁定用户信息管理</small>
                  </div>
                  <div class="panel-body">
                     <div>
                        <table datatable="ng" class="row-border hover">
                           <thead>
                              <tr>
                                 <th>头像</th>
                                 <th>用户名</th>
                                 <th>邮箱</th>
                                 <th>性别</th>
                                 <th>注册时间</th>
                                 <th>操作</th>
                                 <th check-all="check-all">
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="user in users.usersBlockedList">
                                 <td>
                                    <div class="media">
                                       <img src="{{user.photo}}" alt="Image" style="width:36px;height:36px" class="img-responsive img-circle" />
                                    </div>
                                 </td>
                                 <td>{{user.username}}</td>
                                 <td>{{user.email}}</td>
                                 <td>{{user.sex}}</td>
                                 <td>{{user.createdAt}}</td>
                                 <td>
                                    <md-select ng-model="users.userSingleSelectCtrl.name" placeholder="操作">
                                       <md-optgroup label="详情">
                                          <md-option ng-repeat="name in users.userSingleSelectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event, user)">{{name.val}}</md-option>
                                       </md-optgroup>
                                       <md-optgroup label="安全">
                                          <md-option ng-repeat="name in users.selectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event, user)">{{name.val}}</md-option>
                                       </md-optgroup>
                                    </md-select>
                                 </td>
                                 <td>
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="panel-footer">
                     <div class="row">
                        <div class="col-lg-10"></div>
                        <div class="col-lg-2">
                           <div class="input-group pull-right">
                              <md-select ng-model="users.selectCtrl.name" placeholder="操作">
                                 <md-option ng-repeat="name in users.selectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event)">{{name.val}}</md-option>
                              </md-select>
                              <span class="input-group-btn">
                                 <button class="md-primary md-hue-1 md-button md-default-theme">应用</button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- END table-responsive-->
                  <div class="panel-footer">
                     <div class="row">
                        <div class="col-lg-2">
                           <div class="input-group">
                              <input type="text" placeholder="Search" class="input-sm form-control" />
                              <span class="input-group-btn">
                                 <button type="button" class="btn btn-sm btn-default">Search</button>
                              </span>
                           </div>
                        </div>
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">
                           <div class="input-group pull-right">
                              <md-select ng-model="selectctrl.size" placeholder="操作">
                                 <md-option ng-repeat="size in selectctrl.sizes" value="{{size}}">{{size}}</md-option>
                              </md-select>
                              <span class="input-group-btn">
                                 <button class="md-primary md-hue-1 md-button md-default-theme">应用</button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </md-tab>
         </md-tabs>
      </md-content>
   </div>
</div>