<h3>用户管理</h3>
<div style="max-width:100%" ng-controller="UsersController as users" class="container-md">
   <div style="box-shadow:none" class="card">
      <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%;padding:0px" class="md-padding">
         <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="基本信息">
               <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;" class="md-padding"></md-content>
               <!-- START panel-->
               <div class="panel panel-default">
                  <div class="panel-heading">用户基本信息管理</div>
                  <!-- START table-responsive-->
                  <div class="table-responsive">
                     <table id="table-ext-1" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th>UID</th>
                              <th>Picture</th>
                              <th>Username</th>
                              <th>Email</th>
                              <th>Last Login</th>
                              <th>操作</th>
                              <th check-all="check-all">
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>1</td>
                              <td>
                                 <div class="media">
                                    <img src="app/img/user/01.jpg" alt="Image" class="img-responsive img-circle" />
                                 </div>
                              </td>
                              <td>@twitter</td>
                              <td>mail@example.com</td>
                              <td>1 week</td>
                              <td>
                                 <md-select ng-model="users.userSingleSelectCtrl.name" placeholder="操作">
                                    <md-option ng-repeat="name in users.userSingleSelectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event)">{{name.val}}</md-option>
                                 </md-select>
                              </td>
                              <td>
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </td>
                           </tr>
                           <tr>
                              <td>2</td>
                              <td>
                                 <div class="media">
                                    <img src="app/img/user/02.jpg" alt="Image" class="img-responsive img-circle" />
                                 </div>
                              </td>
                              <td>@mdo</td>
                              <td>mail@example.com</td>
                              <td>25 minutes</td>
                              <td>
                                 <md-select ng-model="users.userSingleSelectCtrl.name" placeholder="操作">
                                    <md-option ng-repeat="name in users.userSingleSelectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event)">{{name.val}}</md-option>
                                 </md-select>
                              </td>
                              <td>
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </td>
                           </tr>
                           <tr>
                              <td>3</td>
                              <td>
                                 <div class="media">
                                    <img src="app/img/user/03.jpg" alt="Image" class="img-responsive img-circle" />
                                 </div>
                              </td>
                              <td>@fat</td>
                              <td>mail@example.com</td>
                              <td>10 hours</td>
                              <td>
                                 <md-select ng-model="users.userSingleSelectCtrl.name" placeholder="操作">
                                    <md-option ng-repeat="name in users.userSingleSelectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event)">{{name.val}}</md-option>
                                 </md-select>
                              </td>
                              <td>
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <!-- END table-responsive-->
                  <div class="panel-footer">
                     <div class="row">
                        <div class="col-lg-2">
                           <div class="input-group">
                              <input type="text" placeholder="Search" class="input-sm form-control" />
                              <span class="input-group-btn">
                                 <button type="button" class="btn btn-sm btn-default">Search</button>
                              </span>
                           </div>
                        </div>
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">
                           <div class="input-group pull-right">
                              <md-select ng-model="users.selectCtrl.name" placeholder="操作">
                                 <md-option ng-repeat="name in users.selectCtrl.names" value="{{name.val}}" ng-click="name.onClicked($event)">{{name.val}}</md-option>
                              </md-select>
                              <span class="input-group-btn">
                                 <button class="md-primary md-hue-1 md-button md-default-theme">应用</button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </md-tab>
            <!-- Dialog inline template for demo-->
            <script type="text/ng-template" id="user_detail.tmpl.html">
               <md-dialog aria-label="Mango (Fruit)">
               <form>
               <md-toolbar>
               <div class="md-toolbar-tools">
               <h2>Mango (Fruit)</h2>
               <span flex></span>
               <md-button class="md-icon-button" ng-click="answer('not applicable')">
               <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
               </md-button>
               </div>
               </md-toolbar>
               <md-dialog-content>
               <div>
               <p>
               The mango is a juicy stone fruit belonging to the genus Mangifera, consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit. The majority of these species are found in nature as wild mangoes. They all belong to the flowering plant family Anacardiaceae. The mango is native to South and Southeast Asia, from where it has been distributed worldwide to become one of the most cultivated fruits in the tropics.
               </p>
               <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="app/img/mangues.jpg">
               <p>
               The highest concentration of Mangifera genus is in the western part of Malesia (Sumatra, Java and Borneo) and in Burma and India. While other Mangifera species (e.g. horse mango, M. foetida) are also grown on a more localized basis, Mangifera indica&mdash;the "common mango" or "Indian mango"&mdash;is the only mango tree commonly cultivated in many tropical and subtropical regions.
               </p>
               <p>
               It originated in Indian subcontinent (present day India and Pakistan) and Burma. It is the national fruit of India, Pakistan, and the Philippines, and the national tree of Bangladesh. In several cultures, its fruit and leaves are ritually used as floral decorations at weddings, public celebrations, and religious ceremonies.
               </p>
               </div>
               </md-dialog-content>
               <div class="md-actions" layout="row">
               <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
               More on Wikipedia
               </md-button>
               <span flex></span>
               <md-button ng-click="answer('not useful')" class="md-primary">
               Not Useful
               </md-button>
               <md-button ng-click="answer('useful')" class="md-primary">
               Useful
               </md-button>
               </div>
               </form>
               </md-dialog>
            </script>
            <md-tab label="被删用户">
               <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;" class="md-padding"></md-content>
               <!-- START panel-->
               <div class="panel panel-default">
                  <div class="panel-heading">被删除用户信息管理</div>
                  <!-- START table-responsive-->
                  <div class="table-responsive">
                     <table id="table-ext-1" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th>UID</th>
                              <th>Picture</th>
                              <th>Username</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Email</th>
                              <th>Profile</th>
                              <th>Last Login</th>
                              <th check-all="check-all">
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>1</td>
                              <td>
                                 <div class="media">
                                    <img src="app/img/user/01.jpg" alt="Image" class="img-responsive img-circle" />
                                 </div>
                              </td>
                              <td>@twitter</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>mail@example.com</td>
                              <td class="text-center">
                                 <div data-label="25%" class="radial-bar radial-bar-25 radial-bar-xs"></div>
                              </td>
                              <td>1 week</td>
                              <td>
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </td>
                           </tr>
                           <tr>
                              <td>2</td>
                              <td>
                                 <div class="media">
                                    <img src="app/img/user/02.jpg" alt="Image" class="img-responsive img-circle" />
                                 </div>
                              </td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>mail@example.com</td>
                              <td class="text-center">
                                 <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-xs"></div>
                              </td>
                              <td>25 minutes</td>
                              <td>
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </td>
                           </tr>
                           <tr>
                              <td>3</td>
                              <td>
                                 <div class="media">
                                    <img src="app/img/user/03.jpg" alt="Image" class="img-responsive img-circle" />
                                 </div>
                              </td>
                              <td>@fat</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>mail@example.com</td>
                              <td class="text-center">
                                 <div data-label="80%" class="radial-bar radial-bar-80 radial-bar-xs"></div>
                              </td>
                              <td>10 hours</td>
                              <td>
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <!-- END table-responsive-->
                  <div class="panel-footer">
                     <div class="row">
                        <div class="col-lg-2">
                           <div class="input-group">
                              <input type="text" placeholder="Search" class="input-sm form-control" />
                              <span class="input-group-btn">
                                 <button type="button" class="btn btn-sm btn-default">Search</button>
                              </span>
                           </div>
                        </div>
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">
                           <div class="input-group pull-right">
                              <md-select ng-model="selectctrl.size" placeholder="操作">
                                 <md-option ng-repeat="size in selectctrl.sizes" value="{{size}}">{{size}}</md-option>
                              </md-select>
                              <span class="input-group-btn">
                                 <button class="md-primary md-hue-1 md-button md-default-theme">应用</button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </md-tab>
            <md-tab label="被锁用户">
               <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;" class="md-padding"></md-content>
               <!-- START panel-->
               <div class="panel panel-default">
                  <div class="panel-heading">被锁定用户信息管理</div>
                  <!-- START table-responsive-->
                  <div class="table-responsive">
                     <table id="table-ext-1" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th>UID</th>
                              <th>Picture</th>
                              <th>Username</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Email</th>
                              <th>Profile</th>
                              <th>Last Login</th>
                              <th check-all="check-all">
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>1</td>
                              <td>
                                 <div class="media">
                                    <img src="app/img/user/01.jpg" alt="Image" class="img-responsive img-circle" />
                                 </div>
                              </td>
                              <td>@twitter</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>mail@example.com</td>
                              <td class="text-center">
                                 <div data-label="25%" class="radial-bar radial-bar-25 radial-bar-xs"></div>
                              </td>
                              <td>1 week</td>
                              <td>
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </td>
                           </tr>
                           <tr>
                              <td>2</td>
                              <td>
                                 <div class="media">
                                    <img src="app/img/user/02.jpg" alt="Image" class="img-responsive img-circle" />
                                 </div>
                              </td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>mail@example.com</td>
                              <td class="text-center">
                                 <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-xs"></div>
                              </td>
                              <td>25 minutes</td>
                              <td>
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </td>
                           </tr>
                           <tr>
                              <td>3</td>
                              <td>
                                 <div class="media">
                                    <img src="app/img/user/03.jpg" alt="Image" class="img-responsive img-circle" />
                                 </div>
                              </td>
                              <td>@fat</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>mail@example.com</td>
                              <td class="text-center">
                                 <div data-label="80%" class="radial-bar radial-bar-80 radial-bar-xs"></div>
                              </td>
                              <td>10 hours</td>
                              <td>
                                 <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <!-- END table-responsive-->
                  <div class="panel-footer">
                     <div class="row">
                        <div class="col-lg-2">
                           <div class="input-group">
                              <input type="text" placeholder="Search" class="input-sm form-control" />
                              <span class="input-group-btn">
                                 <button type="button" class="btn btn-sm btn-default">Search</button>
                              </span>
                           </div>
                        </div>
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">
                           <div class="input-group pull-right">
                              <md-select ng-model="selectctrl.size" placeholder="操作">
                                 <md-option ng-repeat="size in selectctrl.sizes" value="{{size}}">{{size}}</md-option>
                              </md-select>
                              <span class="input-group-btn">
                                 <button class="md-primary md-hue-1 md-button md-default-theme">应用</button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </md-tab>
         </md-tabs>
      </md-content>
   </div>
</div>