<h3>权限管理</h3>
<div style="max-width:100%" ng-controller="GroupController as groups" class="container-md">
   <div style="box-shadow:none" class="card">
      <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%;padding:0px" class="md-padding">
         <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="权限管理">
               <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;" class="md-padding"></md-content>
               <!-- ngRepeat + ngResource-->
               <div class="panel panel-default">
                  <div style="border:1px solid rgb(238, 238, 238)" class="panel-heading">权限分配</div>
                  <div style="padding:0px" class="panel-body">
                     <div class="table-responsive">
                        <table id="table-ext-1" class="table table-bordered table-hover">
                           <thead>
                              <tr>
                                 <th>用户组名称</th>
                                 <th>用户组描述</th>
                                 <th>用户组代码</th>
                                 <th>创建时间</th>
                                 <th check-all="check-all">
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="users.normalUsers.isSelectAll" ng-change="users.toggleSelectAll(users.usersList, users.normalUsers)" class="md-primary"></md-checkbox>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>1</td>
                                 <td>Larry</td>
                                 <td>the Bird</td>
                                 <td>1 week</td>
                                 <td>
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="users.normalUsers.isSelectAll" ng-change="users.toggleSelectAll(users.usersList, users.normalUsers)" class="md-primary"></md-checkbox>
                                 </td>
                              </tr>
                              <tr>
                                 <td>2</td>
                                 <td>
                                    <div class="media">
                                       <img src="app/img/user/02.jpg" alt="Image" class="img-responsive img-circle" />
                                    </div>
                                 </td>
                                 <td>@mdo</td>
                                 <td>Mark</td>
                                 <td>Otto</td>
                                 <td>mail@example.com</td>
                                 <td class="text-center">
                                    <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-xs"></div>
                                 </td>
                                 <td>25 minutes</td>
                                 <td>
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="users.normalUsers.isSelectAll" ng-change="users.toggleSelectAll(users.usersList, users.normalUsers)" class="md-primary"></md-checkbox>
                                 </td>
                              </tr>
                              <tr>
                                 <td>3</td>
                                 <td>
                                    <div class="media">
                                       <img src="app/img/user/03.jpg" alt="Image" class="img-responsive img-circle" />
                                    </div>
                                 </td>
                                 <td>@fat</td>
                                 <td>Jacob</td>
                                 <td>Thornton</td>
                                 <td>mail@example.com</td>
                                 <td class="text-center">
                                    <div data-label="80%" class="radial-bar radial-bar-80 radial-bar-xs"></div>
                                 </td>
                                 <td>10 hours</td>
                                 <td>
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="users.normalUsers.isSelectAll" ng-change="users.toggleSelectAll(users.usersList, users.normalUsers)" class="md-primary"></md-checkbox>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </md-tab>
            <!-- Dialog inline template for demo-->
            <script type="text/ng-template" id="new_group.tmpl.html">
               <md-dialog aria-label="{{title}}">
               <form>
                 <md-toolbar>
                   <div class="md-toolbar-tools">
                     <h2>{{user.username}} 的资料</h2>
                     <span flex></span>
                     <md-button class="md-icon-button" ng-click="answer('not applicable')">
                       <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                     </md-button>
                   </div>
                 </md-toolbar>
                 <md-dialog-content>
                   <div class="card-body">
                    <div class="row">
                       <div class="col-sm-3">
                          <div class="mda-form-group" style="text-align:center">
                             <img src="{{user.photo}}" style="width:100px;height:100px;border-radius:50%;">
                          </div>
                       </div>
                       <div class="col-sm-3">
                          <div class="mda-form-group">
                             <input ng-model="user.username" required="" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                             <label>用户名</label>
                          </div>
                       </div>
                       <div class="col-sm-3">
                          <div class="mda-form-group">
                             <input ng-model="user.email" required="" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                             <label>邮箱</label>
                          </div>
                       </div>
                       <div class="col-sm-3">
                          <div class="mda-form-group">
                             <input ng-model="user.sex" tabindex="0" aria-required="true" aria-invalid="false" class="mda-form-control" />
                             <label>性别</label>
                          </div>
                       </div>
                       <div class="col-sm-12">
                          <div class="mda-form-group">
                             <input ng-model="user.intro" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>个人介绍</label>
                          </div>
                       </div>
                       <div class="col-sm-12">
                          <div class="mda-form-group">
                             <input ng-model="user.region" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>地址</label>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.createdAt" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>注册时间</label>
                          </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.isBlocked" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>锁定</label>
                          </div>
                       </div>
                       <div class="col-sm-4">
                          <div class="mda-form-group">
                             <input ng-model="user.isDeleted" tabindex="0" aria-invalid="false" class="mda-form-control" />
                             <label>删除</label>
                          </div>
                       </div>
                    </div>
                 </div>
                 </md-dialog-content>
                 <div class="md-actions" layout="row">
                   <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                     More on Wikipedia
                   </md-button>
                   <span flex></span>
                   <md-button ng-click="answer('not useful')" class="md-primary">
                     关闭
                   </md-button>
                   <md-button ng-click="answer('useful')" class="md-primary">
                     保存
                   </md-button>
                 </div>
               </form>
               </md-dialog>
            </script>
         </md-tabs>
      </md-content>
   </div>
</div>