<h3>权限管理</h3>
<div style="max-width:100%" ng-controller="AuthorityController as auth" class="container-md">
   <div style="box-shadow:none" class="card">
      <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%;padding:0px" class="md-padding">
         <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="权限管理">
               <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;" class="md-padding"></md-content>
               <!-- ngRepeat + ngResource-->
               <div class="panel panel-default">
                  <div style="border:1px solid rgb(238, 238, 238)" class="panel-heading">权限分配</div>
                  <div style="padding:0px" class="panel-body">
                     <div class="table-responsive">
                        <table id="table-ext-1" class="table table-bordered table-hover">
                           <thead>
                              <tr>
                                 <th>权限名称</th>
                                 <th>权限路由</th>
                                 <th>创建时间</th>
                                 <th>操作</th>
                                 <th check-all="check-all">
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="auth.allAuthList.isSelectAll" ng-change="auth.toggleSelectAll(auth.authList, auth.allAuthList)" class="md-primary"></md-checkbox>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="(key, ath) in auth.authList">
                                 <td>{{ath.name}}</td>
                                 <td>{{ath.router}}</td>
                                 <td>{{ath.createdAt}}</td>
                                 <td>
                                    <md-select ng-model="auth.authAction.name[ath._id]" placeholder="操作">
                                       <md-option ng-repeat="name in auth.authActions.names" value="{{name.val}}" ng-click="name.onClicked($event, ath, key)">{{name.val}}</md-option>
                                    </md-select>
                                 </td>
                                 <td>
                                    <md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="auth.allAuthList.isElementSelected[ath._id]" ng-change="auth.selectThis(ath._id, auth.allAuthList)" class="md-primary"></md-checkbox>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="panel-footer">
                        <div class="row">
                           <div class="col-lg-10"></div>
                           <div class="col-lg-2">
                              <div class="input-group pull-right">
                                 <md-select ng-model="auth.footerAction.name" placeholder="操作">
                                    <md-option ng-repeat="name in auth.footerAction.names" value="{{name.val}}" ng-click="name.onClicked($event)">{{name.val}}</md-option>
                                 </md-select>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </md-tab>
            <!-- Dialog inline template for demo-->
            <script type="text/ng-template" id="auth_detail.tmpl.html">
               <md-dialog aria-label="{{title}}">
               <form>
                 <md-toolbar>
                   <div class="md-toolbar-tools">
                     <h2>编辑权限 {{auth.username}}</h2>
                     <span flex></span>
                     <md-button class="md-icon-button" ng-click="answer('not applicable')">
                       <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                     </md-button>
                   </div>
                 </md-toolbar>
                 <md-dialog-content>
                   <div class="card-body">
                    <div class="row">
                       <div class="col-sm-12">
                          <div class="mda-form-group">
                             <input ng-model="auth.name" tabindex="0" aria-required="true" required='' aria-invalid="false" class="mda-form-control" />
                             <label>权限名称</label>
                          </div>
                       </div>
                       <div class="col-sm-12">
                          <div class="mda-form-group">
                             <input ng-model="auth.router" tabindex="0" aria-invalid="false" required='' class="mda-form-control" />
                             <label>权限路由</label>
                          </div>
                       </div>
                    </div>
                 </div>
                 </md-dialog-content>
                 <div class="md-actions" layout="row">
                   <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                     More on Wikipedia
                   </md-button>
                   <span flex></span>
                   <md-button ng-click="answer('not useful')" class="md-primary">
                     关闭
                   </md-button>
                   <md-button ng-click="editThisAuth()" class="md-primary">
                     保存
                   </md-button>
                 </div>
               </form>
               </md-dialog>
            </script>
            <md-tab label="新增权限">
               <md-content style="background: rgb(245, 247, 250) none repeat scroll 0% 0%; padding-left: 0px; padding-right: 0px;" class="md-padding"></md-content>
               <!-- ngRepeat + ngResource-->
               <div class="panel panel-default">
                  <div style="border:1px solid rgb(238, 238, 238)" class="panel-heading">新增权限</div>
                  <div class="panel-body">
                     <form class="form-validate">
                        <div class="mda-form-group float-label mb">
                           <input ng-model="auth.newAuth.name" required="" tabindex="0" aria-required="true" aria-invalid="true" class="mda-form-control" />
                           <label>权限名称</label>
                           <span class="mda-form-msg">必填项</span>
                        </div>
                        <div class="mda-form-group">
                           <input ng-model="auth.newAuth.router" tabindex="0" required="" aria-required="" aria-invalid="true" class="mda-form-control" />
                           <label>权限路由</label>
                           <span class="mda-form-msg">必填项</span>
                        </div>
                        <div class="mda-form-group">
                           <md-button md-no-ink="" ng-click="auth.submitThisAuth()" class="md-raised md-primary">提交</md-button>
                        </div>
                     </form>
                  </div>
               </div>
            </md-tab>
         </md-tabs>
      </md-content>
   </div>
</div>