
.md-welcome
  .md-welcome-msg
    .container.container-md
      h1.animated.fadeInDown.anim-delay-5 Poimoe
      h2.animated.fadeInLeft.anim-delay-10 独一无二的多人协同在线绘画工具
  
.container.container-md
  p.lead.m0 欢迎使用Poimoe管理后台
  .row.md-welcome-row
    .col-md-4
      .card.animated.fadeInDown.anim-delay-15(md-ink-ripple)
        .card-body 
          p.lead.text-bold 数据统计
          | 总用户、今日新增、本月新增、被删用户、被锁用户
    .col-md-4
      .card.animated.fadeInDown.anim-delay-20(md-ink-ripple)
        .card-body 
          p.lead.text-bold 信息管理
          | 用户管理、主题管理、标签管理、用户粉丝/关注管理、活跃用户/主题/标签管理
    .col-md-4
      .card.animated.fadeInDown.anim-delay-25(md-ink-ripple)
        .card-body 
          p.lead.text-bold 权限管理
          | 角色管理、权限分配
