button.btn {
	transition: all 0.4s ease-in-out 0s;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height: 1.6;
}

.aside .aside-dialog .aside-header .close {
	padding: 8px 8px;
}

.nav li {
	font-size: 14px!important;
	font-weight: 200!important;
}

.nav {
	margin: 0px!important;
}

.navbar-default {
	background-color: rgb(0, 133, 242);
	border: none;
	border-radius: 0px!important;
}

div.container-fluid {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-default .navbar-nav>li>a {
	color: rgb(255, 255, 255);
}

.navbar-default .navbar-brand {
	color: rgb(255, 255, 255);
}

.container-fluid {
	border-radius: 0px!important;
}

.navbar-default .navbar-nav>.active>a {
	background: rgb(0, 133, 242)!important;
	color: rgb(255, 255, 255)!important;
	font-weight: 800;
}

.navbar-default .navbar-nav>li>a:hover {
	color: rgb(255, 255, 255)!important;
	cursor: pointer!important;
	font-weight: 400;
}

.navbar-default .navbar-nav>.active>a:hover {
	color: rgb(255, 255, 255)!important;
	cursor: pointer;
}

.navbar>.container-fluid .navbar-brand:hover {
	color: rgb(255, 255, 255);
}

.search-area {
	padding-top: 15px;
	padding-bottom: 15px;
}

.input-group .form-control:first-child {
	box-shadow: none;
}

.tag-list {
	margin-top: 10px;
}

.tag-list span {
	cursor: pointer;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

/* always present */
.expand-transition {
  transition: all .3s ease;
  background-color: #eee;
  overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0px 20px;
  opacity: 0;
}

